<div class="row pb-3">
    @foreach (var pizza in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@pizza.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@pizza.Name</p>
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@pizza.Price zł</p>
                            <div class="w-75 btn-group" role="group">
                                <div class="btn-group" role="group">
                                    <a asp-controller="Pizza" asp-action="Description" asp-route-id="@pizza.Id" class="btn btn-primary mx-2">
                                        Description
                                    </a>
                                    <a asp-controller="Pizza" asp-action="Add" asp-route-id="@pizza.Id" class="btn btn-primary mx-2">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
